*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cloud section {
    width: 100%;
    height: 20rem;
    background-color:skyblue;
}